html{
    font-size: 100%;
}

body{
    font-size: 14px;
    color: #383e45;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

.site-title{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.site-title a{
    display: block;
}

.section-title{
    display: inline-block;
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.content-title{
    font-size: 16px;
    margin: 10px 0;
}

/*ヘッダー部分*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul{
    display: flex;
    padding: 10px,0;
}

#header li{
    margin-left: 30px;
}

#header li a{
    color: #24292e;
}

#header li a:hover{
    opacity: 0.7;
}

/*mainvisual*/

#mainvisual{
    margin-bottom: 80px;
}

#meinvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*about*/

#about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

#about .text{
    text-align: left;
}

#bicycle ul{
    display: flex;
    justify-content: space-between;
}

#bicycle li{
    width: 32%;
}

#bicycle h3{
    padding: 10px 0;
}

#footer{
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
}


@media screen and (max-width: 600px){
    #meinvisual img{
        height: calc(100vh - 60px);
    }

    #about .content{
        flex-direction: column;
    }

    #bicycle ul{
        flex-direction: column;
    }

    #bicycle li{
        width: 100%;
        margin-bottom: 30px;
    }

}





