html{
    font-size: 100%;
    font-family: Arial;
}

body{
    font-size: 14px;
    color: #333333;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

/*header*/

#header{
    align-items: center;
    margin: auto;
    
}

.site-title{
    max-width: 280px;
    align-items: center;
    margin: 50px auto 10px; 
}

/*global*/

.mainvisual{
    width: 100%;
}

.pc{
    display: block !important;
    margin: 40px 0;
}

.sp{
    display: none !important;
}

.global-nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    max-width: 314px;
    margin: 0 auto;
}

/*section*/
.wrapper{
    max-width: 1110px;
}

/*concept*/

#concept{
    margin: 90px auto 100px;
}

.inner{
    display: flex;
    margin: 0 auto 0 0;
}

#concept img{
    max-width: 555px;
    max-height: 547px;
}

.text{
    margin: auto 0 auto 40px;
}

.title{
    font-size: 16px;
    margin-bottom: 18px;
}

.catchcopy{
    font-size: 32px;
    color: #24A8BF;
    margin-bottom: 33px;
}

.main-text{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1120px) {

    .wrapper{
        max-width: 100%;
    }

    #concept{
        margin: 100px auto 0;
    }

    .inner{
        flex-direction: column;
    }
    
    #concept img{
        max-width: 100%;
        margin: auto;
    }
    
    .text{
        margin: 27px auto 0 20px;
    }
}

@media screen and (max-width: 760px) {
    /*header*/
    .site-title{
        max-width: 160px;
        max-height: 32px;
        margin: 30px auto 2px;
    }
    
    /*global*/
    
    .pc{
        display: none !important;
    }
    
    .sp{
        display: block !important;
        margin: 28px 0;
    }


    .global-nav ul{
        font-size: 16px;
        min-width: 238px;
    }

    /*section*/

    #concept{
        margin: 71px 20px 68px;
    }
}